@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap');

$pink-500: #ec4899;
$gray-200: #EDF8FF;
$gray-400: #999FA5;
$gray-500: #272B31;
$gray-700: #131313;
$gray-800: #101010;
$yellow-500: #FFC63B;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, $gray-500 26.26%, $gray-800 100%);
  color: white;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.mystery-box {
  background: linear-gradient(0deg, $gray-700, $gray-700);
}

.container {
  width: 100%;
  max-width: 780px;
  margin: 4rem auto 0;
}

.flex {
  display: flex;
}

.font-bold {
  font-weight: 700;
}

.text-4xl {
  font-size: 2.25rem/* 36px */;
  line-height: 2.5rem/* 40px */;
}

.font-medium {
  font-weight: 500;
}

.text-base {
  font-size: 1rem/* 16px */;
  line-height: 1.5rem/* 24px */;
}

.text-gray-400 {
  color: $gray-400;
}

.rainbow-border {
  border-bottom: 2.14px solid;
  border-image-slice: 1;
  border-width: 2.14px;
  border-image-source: linear-gradient(270deg, #FF5294 6.73%, #EB78EB 26.14%, #00DFFF 56.86%, $yellow-500 74.49%, #FF837B 103.43%);
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-col {
  flex-direction: column;
}

.price-wrapper {
  background-color: red;
  border-radius: 16px;
  box-shadow: 0px 6.34218px 11.6273px rgba(0, 0, 0, 0.25);
}

.pt-4 {
  padding-top: 1rem/* 16px */;
}

.pt-6 {
  padding-top: 1.5rem/* 24px */;
}

.pb-6 {
  padding-bottom: 1.5rem/* 24px */;
}

.px-9 {
  padding-left: 2.25rem/* 36px */;
  padding-right: 2.25rem/* 36px */;
}

.pb-9 {
  padding-bottom: 2.25rem/* 36px */;
}

button {
  position: relative;
  background: #000;
  border: 0;
  padding: 14px 42px;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  letter-spacing: .2em;
  box-shadow: 0 8px 32px rgba(#000,.2);
  transition: all .2s ease;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: -200%;
    width: 200%;
    height: 100%;
    transform: skewX(-20deg);
    background-image: linear-gradient(to right,transparent,rgba(#fff,.3),transparent);
  }
  &:hover:after {
    animation: shine 1.6s ease;
  }
  &:active {
    transform: translateY(1px);
    box-shadow: 0 4px 16px rgba(#000,.2);
  }
}

@keyframes shine {
  100% {
    left: 200%;
  }
}
